doctype html
html
  head
    meta(charset="utf-8")
    link(href="/main.css",rel="stylesheet")
    script(src="/main.js")
    block title
  body
    .header
      .center
        b BLOG
        | 
        span BiShen
        | 
        i org
    .navigation
      .center
        a(href="/") HOME
####
    block content
    .footer copyright