doctype html
html
  head
    meta(charset="utf-8")
    link(href="/main.css",rel="stylesheet")
    script(src="/main.js")
    block title
  body
    .header
      .center
        b BLOG
        | 
        span BiShen
        | 
        i org
    .navigation
      .center
        a(href="/") HOME
        a(href="/golan.html") GOLANG
        a(href="/nodejs.html") NODE
        a(href="/unity3d.html") UNITY
        a(href="/3d.html") 3D
        a(href="/other.html") OTHER

    block content
    .footer copyright