extends ./layout.jade
block title
    title 登录
    
block content
    .location BLOG.BISHEN.ORG &gt; 登录管理
    .main
        form.login(method="post")
            lable 
                span 用户名：
                input(name="username")
            lable
                span 密码：
                input(name="password",type="password")
            input(type="submit",value=" 登录 ")