doctype html
html
  head
    meta(charset="utf-8")
    link(href="/main.css",rel="stylesheet")
    script(src="/main.js")
    block title
  body
    .header
      .center
        b BLOG
        | 
        span BiShen
        | 
        i org
    .navigation
      .center
        a(href="/go.html") GOLANG
        a(href="/unity3d.html") UNITY
        a(href="/3d.html") 3D
        a(href="/other.html") 其它
        a(href="/php.html") PHP
        a(href="/aaa.html") aa
        a(href="/asdf.html") dsaf
        a(href="/ss.html") fff
        a(href="/afff.html") asdf
        a(href="/ddd.html") ddd
        a(href="/ffff.html") aaa
        a(href="/ssss.html") tes
        a(href="/haa.html") HAHAH
        a(href="/c.html") C  
        a(href="/f.html") FF
        a(href="/ee.html") E
        a(href="/f.html") D
        a(href="/f.html") F
        a(href="/dd.html") FFD
        a(href="/t.html") TTT
        a(href="/22.html") 222
        a(href="/333.html") 333
        a(href="/55.html") 55

    block content
    .footer copyright